<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <!-- Outranks expo-notifications' own receiver (priority -1) so pushes are built by
         SafelyNotificationsService, which substitutes {{wallet_name}} before display. -->
    <receiver
      android:name="expo.modules.safelypushcontent.SafelyNotificationsService"
      android:enabled="true"
      android:exported="false">
      <intent-filter android:priority="1">
        <action android:name="expo.modules.notifications.NOTIFICATION_EVENT" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
